@use '../../assets/variables' as *;


.dialog-content {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  background-color: #0c101b;
  border-radius: 6px;
  box-shadow: 0 10px 38px -10px #0e121659, 0 10px 20px -15px #0e121633;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  max-width: 60vw;
  height: 500px;
  max-height: 85vh;
  padding: 25px;
  animation: .15s cubic-bezier(.16, 1, .3, 1) contentShow;

  @media screen and (max-width: $mobile-breakpoint-max) {
    gap: 1px;
    max-width: 3000vw;
  }
}

.form-content {
  width: 100%;

  input[type="text"] {
    &::placeholder {
      color: $white;
    }
  }

  textarea {
    padding: 5px;
    font-size: 14px;
    box-sizing: border-box;
    outline: none;
    box-shadow: none;
    border: none;
    border-radius: 5px;
    background-color: $gray-1000;
    resize: none;
    height: 100%;
    width: 100%;

    &::placeholder {
      color: $white;
    }

    &:focus {
      box-shadow: 0 0 3px $teal;
    }
  }

  select {
    background-color: $gray-1000;
    padding: 5px;
    border-radius: 5px;
    width: 100%;
    box-sizing: border-box;

    select[data-selected="true"] {
      box-shadow: 0 0 3px $teal;
    }

    &:focus, &:checked {
      outline: none !important;
      box-shadow: 0 0 3px $teal;
    }
  }

  input[type="date"] {
    color-scheme: dark;
    background-color: $gray-1000;
    padding: 5px;
    border-radius: 5px;
    width: 100%;
    box-sizing: border-box;

    &:focus {
      box-shadow: 0 0 3px $teal;
    }
  }

  @media screen and (max-width: $mobile-breakpoint-max) {
    gap: 1px;
    max-width: 3000vw;
  }
}

.error {
  color: red;
  margin-top: 10px;
}