@use '../../assets/variables' as *;


.tag-container {
  display: flex;
  flex-wrap: wrap;
  padding: 5px 5px 0;
}

.tags-section {
  display: inline-flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  width: 100%;
}

.tags-section li {
  align-items: center;
  background: #272798;
  border-radius: 4px;
  color: $white;
  font-style: italic;
  display: flex;
  font-weight: 150;
  list-style: none;
  margin-right: 5px;
  padding: 10px 10px;
}
