@use '../../assets/variables' as *;


.explorer {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  // padding: 0 10px;
  font-size: 14px;

  @media screen and (max-width: $mobile-breakpoint-max) { 
    flex: 1 1 50%;
  }
}