@import '../../assets/variables.scss';

.research-reports {
  display: flex;
  color: $font-color-100;
  gap: 15px;

  @media screen and (max-width: $mobile-breakpoint-max) {
    flex-direction: column;
    gap: 35px;
  }
}

.format-type {
  margin-bottom: 10px;
}

.reports-container {
  flex: 1 1 20%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-size: 15px;
  max-width: 400px;
  min-width: 400px;
  position: relative;

  @media screen and (max-width: $mobile-breakpoint-max) {
    flex: 1 1 100%;
    max-width: unset;
    min-width: unset;
    font-size: 14px;
  }

  .reports {
    max-height: calc(100vh - 470px);
  }

  .report {
    display: flex;
    align-items: center;
    padding: 0;
    gap: 10px
  }

  .filter-panel {
    display: flex;
    padding: 10px 20px 0px 10px;
    flex-direction: column;
    gap: 3px;
  }

  .search-box {
    display: flex;
    align-items: center;

    i {
      padding: 0 10px;
      cursor: pointer;
    }
  }

  // &::after {
  //   height: 100%;
  //   width: 2px;
  //   position: absolute;
  //   background-color: $border-color;
  //   content: ' ';
  //   right: -3px;
  // }
}

.email-content {
  flex: 1 1 40%;
  max-width: 40%;
  border-radius: 5px;
  background-color: $gray-1000;
  
  @media screen and (max-width: $mobile-breakpoint-max) {
    max-width: 100%;
  }
}

.ai-summary {
  flex: 1 1 40%;
  background-color: $gray-1000;
  border-radius: 5px;
  height: 100%;
  margin-left: 10px;
  min-width: 40%;

  @media screen and (max-width: $mobile-breakpoint-max) {
    max-width: 100%;
  }

  .key-words {
    // padding-bottom: 5px;

    span {
      color: $white;
      font-style: italic;

      color: $blue-alt;

      &:hover {
        color: $blue-alt;
      }
    }
  }
}

.summary-title {
  padding: 5px;
  text-align: center;
  background-color: $body-bg;
  font-size: 14px;
  color: $white;
}

.expanded {
  max-height: 88vh;
}