@import '../../assets/variables.scss';

.chatbot-response {
  font-size: 14px;
  display: flex;
  flex-direction: column;
  height: 100%;
  color: $font-color-200;
}

.chat-message {
  margin-bottom: 10px;
  border-radius: 8px;

  p {
    display: flex;
    background-color: $gray-1000;
    padding: 10px;
    border-radius: 5px;
    width: 100%;
    justify-content: space-between;
    align-items: center;
  }
}

.search-bar {
  margin-top: auto;
  margin-bottom: 20px;
}

.search-bar input {
  width: 98%;
  padding: 10px;
  font-size: 14px;
  border: none;
  border-radius: 5px;
  background-color: $gray-1000;
}

.message-content {
  display: flex;
  gap: 10px;
  align-items: center;
}

.message-header {
  // height: 30px;
  // width: 30px;
}

.clip-conversation {
  cursor: pointer;

  &:hover {
    color: $white;
  }
}

.chat-message.user {
}

.assistant {
  background-color: $gray-1000;
  padding: 10px;
  border-radius: 5px;
}

.message-time {
  font-size: 0.8rem;
  margin-top: 5px;
  text-align: right;
  color: $font-color-200;
}

.assistant-message-time {
  @extend .message-time;
  text-align: left;
  margin-bottom: 25px;
}

.recommendation-card {
  display: flex;
  align-items: center;
  margin-top: 10px;
  padding: 10px;
  background-color: $gray-100;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

.recommendation-icon {
  font-size: 1.2rem;
  margin-right: 10px;
  color: $teal;
}

.recommendation-text {
  color: $font-color-100;
}

.chat-history {
  height: 78vh;
  overflow-y: auto;
}
