@import '../../assets/variables.scss';

.notifications {
  display: flex;
  flex-direction: column;
  flex: 1 1 60%;
  // padding: 0 10px;
  font-size: 14px;

  @media screen and (max-width: $mobile-breakpoint-max) { 
    flex: 1 1 50%;
  }
}

.notification-items {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px 5px 10px 0px;
  max-height: calc(100vh - 550px);
  height: calc(100vh - 550px);
  align-items: center;

  @media screen and (max-width: $mobile-breakpoint-max) { 
    max-height: calc(100vh - 550px);
  }

  &.expanded {
    max-height: calc(100vh - 250px);
    height: calc(100vh - 250px);
  }

  .notification-item {
    border-radius: 5px;
    color: $font-color-200;
    font-size: 12px;
    padding: 10px;
    background-color: $gray-1000;
    align-content: baseline;
    cursor: pointer;
    width: 100%;

    &.active {
      border: 1px solid $teal-100;
    }
  }
  
  .notification-title {
    display: flex;
    gap: 10px;
    align-items: baseline;
    // text-transform: uppercase;

    .name {
      font-size: 14px;
      color: $white;
      white-space: pre-line;
    }

    i {
      font-size: 14px;
    }
  }

  .notification-count {
  }

  .notification-menu {
    margin-left: auto;
    display: flex;
    align-items: baseline;
  }

  .notification-content {
    display: flex;
    flex-direction: column;
    padding: 5px 0;
    
    li {
      padding: 3px;
    }
  }
}