@use '../../assets/variables' as *;


.macro-panel {
  display: flex;
  gap: 5px;
  height: calc(100vh - 225px);
  width: calc(100vw - 500px);
  flex-wrap: wrap;
  
  @media screen and (max-width: $mobile-breakpoint-max) {
    flex-direction: row;
    height: 100%;
    width: 100%;
    gap: 10px;
  }
}

.header {
  color: $yellow;
  font-weight: bold;
}

.section-header {
  @extend .header;
  position: sticky;
  top: 0;
  z-index: 100;
  background-color: $border-alt;

  @media screen and (max-width: $mobile-breakpoint-max) {
    flex-direction: row;
    position: unset;
    top: unset;
    z-index: unset;
  }
}

.macro-tab {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding-top: 20px;

  @media screen and (max-width: $mobile-breakpoint-max) {
    flex-direction: row;
    height: 100%;
    width: 100%;
    gap: 10px;
  }
}

.tab-panel {
  display: flex;
  flex: 1 1 100%;
  flex-direction: column;
  height: 100%;

  @media screen and (max-width: $mobile-breakpoint-max) {
    flex-direction: row;
    height: 100%;
    width: 100%;
    gap: 10px;
  }
}

.market-data {
  gap: 2px;
  padding: 10px;
  height: 215px;
  width: 175px;
  border: 1px solid $border-color;
  display: flex;
  flex-direction: column;

  @media screen and (max-width: $mobile-breakpoint-max) {
    flex-direction: column;
    height: 100%;
    width: 175px;
    gap: 2px;
    padding: 5px;
  }
}

.market-data-no-chart {
  gap: 2px;
  padding: 10px;
  height: 110px;
  width: 125px;
  border: 1px solid $border-color;
  display: flex;
  flex-direction: column;
  align-items: stretch;

  @media screen and (max-width: $mobile-breakpoint-max) {
    height: 100%;
    width: 175px;
    gap: 10px;
    padding: 5px;
  }
}

.divider {
  border-color: $white;
}

.tab-list {
  @extend .rt-BaseTabList !optional;
  border-color: $white;
}

.instrument-group-tab {
  color: $yellow;
}

.market-data-name {
  color: $blue;
}

.market-data-value {
  color: $white
}

.market-data-change {
  color: $green
}

.market-data-change-negative {
  color: $red
}

.market-data-percent {
  color: $green
}

.market-data-percent-negative {
  color: $red
}

.market-data-graph {
  gap: 10px;
  padding: 10px;
  width: 100%;
  height: 100%;
  cursor: pointer;

  @media screen and (max-width: $mobile-breakpoint-max) {
    gap: 1px;
    max-width: 165px;
    height: 100%;
    padding: 0;
  }
}

.market-data-no-graph {
  @extend .market-data-graph;
  cursor: unset;
}

.market-data-graph-popup {
  gap: 10px;
  padding: 10px;
  height: 100%;
  width: 100%;

  @media screen and (max-width: $mobile-breakpoint-max) {
    width: calc(100vw - 35px);
    vertical-align: center;
  }
}

.equity-futures-container {
  width: 100%;
  flex: 1 1 100%;
  align-items: stretch;

  @media screen and (max-width: $mobile-breakpoint-max) {
    max-height: 100%;
    align-items: stretch;
    width: 90vw;
  }
}

.fx-container {
  width: 100%;
  flex: 1 1 100%;
  align-items: stretch;

  @media screen and (max-width: $mobile-breakpoint-max) {
    max-height: 100%;
    align-items: stretch;
    width: 90vw;
  }
}

.yields-container {
  width: 100%;
  flex: 1 1 100%;
  align-items: stretch;

  @media screen and (max-width: $mobile-breakpoint-max) {
    max-height: 100%;
    align-items: stretch;
    width: 90vw;
  }
}

.crypto-container {
  width: 100%;
  flex: 1 1 100%;
  align-items: stretch;

  @media screen and (max-width: $mobile-breakpoint-max) {
    max-height: 100%;
    align-items: stretch;
    width: 90vw;
  }
}

.dialog {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #0c101b;
  border-radius: 6px;
  box-shadow: 0 10px 38px -10px #0e121659, 0 10px 20px -15px #0e121633;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 575px;
  max-width: 60vw;
  height: 500px;
  max-height: 85vh;
  padding: 10px;
  gap: 10px;
  animation: .15s cubic-bezier(.16, 1, .3, 1) contentShow;

  @media screen and (max-width: $mobile-breakpoint-max) {
    gap: 1px;
    width: calc(100vw - 35px);
    max-width: calc(100vw - 35px);
    height: 75vh;
    max-height: 75vh;
  }
}

.dialog-content {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
}

.dialog-loading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  font-size: 16px;
}

.dialog-close {
  display: flex;
  position: fixed;
  top: 0;
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  width: 100%;
  height: 10px;
  justify-content: flex-end;
  cursor: pointer;
}