@use '../../assets/variables' as *;


.price-graph {
  display: flex;
  flex-direction: column;
  gap: 10px;
  flex: 1 1 50%;
  max-height: 45vh;
}

.price-graph-title {
  font-size: 16px;
  color: $white;
  display: flex;
  gap: 5px;
  align-items: center;
  border-bottom: 1px solid $border-color;
  padding: 5px 0;
}

.price-summary-table {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 10px 0px 20px 5px;
  // border-bottom: 1px solid $border-color;
}

.trading-opportunity {
  display: flex;
  flex-wrap: wrap;

  .title {
    flex: 2 1 100%;
    text-transform: uppercase;
  }
}

.bond-details, .market-context {
  flex: 1 1 50%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px 0px 20px 5px;
}
