@import './variables.scss';

.ag-theme-balham-dark {
  --ag-background-color: #{$body-bg};
  --ag-control-panel-background-color: $grid-bg;
  --ag-borders-critical: none;
  --ag-foreground-color: #{$font-color-100};
  --ag-row-border-width: 0px;
  --ag-font-size: 13px;
  --ag-borders-side-button: 0px;
  --ag-widget-vertical-spacing: 10px;

  // todo .. theme variable is not working here.. find out
  --ag-header-background-color: #{$body-bg};
  --ag-checkbox-background-color: white;
  --ag-balham-active-color: #00b2ac;
  --ag-odd-row-background-color: #{$body-bg};


  ::-webkit-scrollbar {
    width: 7px;
    height: 5px;
  }

  ::-webkit-scrollbar:hover {
    width: 7px;
    height: 5px;
  }

  ::-webkit-scrollbar-track {
    background: $body-bg;
  }

  ::-webkit-scrollbar-track-piece {
    background: $body-bg;
  }

  ::-webkit-scrollbar-thumb {
    background: $scrollbar-thumb-bg;
    border-radius: 5px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: $scrollbar-hover-bg;
    display: block;
  }

  @media screen and (max-width: $mobile-breakpoint-max) {
    min-height: 400px;
  }

  &.summary-grid {
    --ag-font-size: 15px;
    --ag-foreground-color: #{$font-color-100};
  }

  &:hover {

    .ag-body-horizontal-scroll,
    .ag-body-vertical-scroll {
      display: flex;
    }
  }

  .ag-row.ag-row-hover:before {
    background-color: $hover-bg;
    color: $hover-bg;
  }

  .ag-row {
    border-bottom: 1px solid $border-alt;
  }

  .ag-body-horizontal-scroll,
  .ag-body-vertical-scroll {
    display: none;
  }

  .ag-filter,
  .ag-menu-list {
    background-color: $body-bg;
  }

  .ag-floating-filter {
    input {
      border: none;
      background-color: $gray-dark;
    }
  }

  .ag-side-buttons {
    padding-top: 0;
  }

  .ag-side-bar-right {
    border-left: 0;
  }

  .ag-status-bar {
    border-top: none;
    color: $grid-font-color;
  }

  .ag-ltr .ag-header-cell:before,
  .ag-ltr .ag-header-group-cell:not(.ag-header-span-height.ag-header-group-cell-no-group):before {
    display: none;
  }

  .ag-header-row {
    color: #{$font-color-100};
  }

  .ag-cell {
    display: flex;
    align-items: center;
  }
}

.ag-root-wrapper {
  border: none;
}

.ag-watermark {
  display: none !important;
}