@import './variables.scss';

.orange-color {
  color: #FF8000;
}

.blue-color {
  color: $blue-alt;
}

.off-white-color {
  color: $font-color-200;
}

.off-white-color-alt {
  color: $font-color-100;
}

.red-color {
  color: $pink;
}

.border-color-r {
  border-right: 1px solid $border-color;
}