@import './variables.scss';

.sub-header {
  text-transform: uppercase;
  padding: 5px 10px;
  font-size: 14px;
}

.text-end {
  text-align: right;
  justify-content: flex-end;
}

.ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.multi-line-ellipsis {
  display: -webkit-box;
  /* Use flexbox for layout */
  -webkit-line-clamp: 3;
  /* Number of lines to show */
  -webkit-box-orient: vertical;
  /* Set orientation to vertical */
  overflow: hidden;
  /* Hide overflowing text */
  text-overflow: ellipsis;
  /* Add ellipsis (...) for overflow */
}

.scrollable-div {
  overflow-y: auto;
}

.scrollable-div::-webkit-scrollbar {
  width: 7px;
}

.scrollable-div:hover::-webkit-scrollbar {
  width: 7px;
}

.scrollable-div::-webkit-scrollbar-track {
  background: $body-bg;
}

.scrollable-div::-webkit-scrollbar-thumb {
  background: $scrollbar-thumb-bg;
  border-radius: 5px;
}

.scrollable-div::-webkit-scrollbar-thumb:hover {
  background: $scrollbar-hover-bg;
  display: block;
}

.horizontal-scrollable-div {
  overflow-x: auto;
}

.horizontal-scrollable-div::-webkit-scrollbar {
  height: 5px;
}

.horizontal-scrollable-div::-webkit-scrollbar-track {
  background: $body-bg;
}

.horizontal-scrollable-div::-webkit-scrollbar-thumb {
  background: transparent;
}

.horizontal-scrollable-div:hover::-webkit-scrollbar-thumb {
  background: $scrollbar-thumb-bg;
  border-radius: 5px;
}

.horizontal-scrollable-div::-webkit-scrollbar-thumb:hover {
  background: $scrollbar-hover-bg;
  display: block;
}

input[type="text"] {
  background-color: $gray-1000;
  padding: 5px;
  border-radius: 5px;
  width: 100%;
  box-sizing: border-box;

  &:focus {
    box-shadow: 0 0 3px $teal;
  }
}

.table-header {
  font-weight: bold;
}

.cursor-pointer {
  cursor: pointer;
}

.rc-segmented-item {
  background-color: $gray-1000;
  color: $font-color-100;
  border: 1px solid $teal-100;
  // margin: 5px auto;
  width: 100%;

  &:hover {
    background-color: $gray-1000;
    color: $white;
  }
}

.rc-segmented-item-selected  {
  background-color: $teal-100 !important;
  
}