$blue: #6276FF;
$blue-alt: #7080c9;
$indigo: #6610f2;
$purple: #6f42c1;
$pink: #E74D67;
$red: #ed4c78;
$orange: #FF9227;
$yellow: #f5ca99;
$green: #198754;
$teal: #12a594;
$teal-100: #0b6157;
$cyan: #09a5be;
$black: #000;
$gold: gold;
$white: #fff;
$gray: #202325;
$gray-dark: #2a2d30;
$gray-100: #2c2f32;
$gray-150: #2c3845;
$gray-200: #2f3235;
$gray-300: #4b5055;
$gray-400: #3d4145;
$gray-500: #34373a;
$gray-550: #2a3542;
$gray-600: #202325;
$gray-700: #25282a;
$gray-800: #222b35;
$gray-900: #1e2022;
$gray-950: #12151e;

$gray-1000: #1E2128;
$primary: #377dff;
$secondary: #122941;
$success: #00c9a7;
$info: #09a5be;
$warning: #f5ca99;
$danger: #ed4c78;
$light: #2c2f32;
$dark: #fff;
$primary-rgb: 55, 125, 255;
$secondary-rgb: 109, 116, 123;
$success-rgb: 0, 201, 167;
$info-rgb: 9, 165, 190;
$warning-rgb: 245, 202, 153;
$danger-rgb: 237, 76, 120;
$light-rgb: 44, 47, 50;
$dark-rgb: 255, 255, 255;
$white-rgb: 255, 255, 255;
$black-rgb: 0, 0, 0;
$body-color-rgb: 197, 200, 204;
$body-bg-rgb: 30, 32, 34;
$font-sans-serif: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
$font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
$gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
$body-font-family: Inter, sans-serif;
$body-font-size: 0.875rem;
$body-font-weight: 400;
$body-line-height: 1.5;
$body-color: #c5c8cc;
$body-bg: #0C101B;
$table-bg: $gray-800;
$border-width: 0.0625rem;
$border-style: solid;
$border-color: #202020;
$border-color-translucent: rgba(0, 0, 0, 0.175);
$border-radius: 5px;
$border-radius-sm: 0.3125rem;
$border-radius-lg: 0.75rem;
$border-radius-xl: 1rem;
$border-radius-2xl: 2rem;
$border-radius-pill: 50rem;
$link-color: rgba(255, 255, 255, 0.7);
$link-hover-color: white;
$code-color: #d63384;
$highlight-bg: #fdf4eb;
$btn-font-size: .8rem;

$dialog-shadow: 0 10px 38px -10px #0e121659, 0 10px 20px -15px #0e121633;


$font-color-100:#dddddd;
$font-color-200:#aaaaaa;
$font-color-gray: gray;

$input-bg: #222b35;
$input-border-width: 0px;
$input-font-size: .8rem;

$grid-bg: $gray-400;
$grid-font-color: silver;
$grid-odd-row-color: $gray-550;

$widget-bg: $gray-800;
$label-font-size: .7rem;
$sub-label-font-color: silver;

$scrollbar-hover-bg: #555;
$scrollbar-thumb-bg: #888;

$active-bg: #dbdbdb;
$hover-bg: #181922;
$border-alt: #15191D;

$mobile-breakpoint-max: 768px;