@import '../../../assets/variables.scss';

.corporate-actions {
  display: flex;
  flex: 1 1 100%;
  gap: 30px;

  &>div {
    flex: 1 1 50%;
  }

  @media screen and (max-width: $mobile-breakpoint-max) {
    flex-direction: column;
    width: 91vw;
  }
}

.chatbot {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.corporate-actions-response {
  display: flex;
  flex-direction: column;
  flex: 1 1 100%;
  gap: 10px;
  padding: 0 5px;
  max-height: calc(100vh - 260px);

  .corporate-action {
    background-color: $gray-1000;
    padding: 10px;
    border-radius: 30px;
    font-size: 10px;

    &.active {
      box-shadow: 0 0 5px $teal;
    }

    .header {
      display: flex;
      align-items: center;
      padding: 5px;
      gap: 10px;

      .title {
        display: flex;
        flex-direction: column;
        padding-left: 10px;
        padding-right: 10px;
        width: 100%;

        .top {
          display: flex;
          justify-content: stretch;
          gap: 10px;
        }

        .bottom {
          display: flex;
          justify-content: stretch;
          gap: 10px;
        }
      }
    }

    .action-buttons {
      display: flex;
      justify-content: flex-end;

      font-size: 16px;

      .button-container {
        background-color: $teal-100;
        border-radius: 50%;
        height: 30px;
        width: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        cursor: pointer;

        &:hover {
          background-color: $teal-100;
        }
      }
    }

    .footer {
      display: flex;
      padding: 5px;
      gap: 10px;

      &>span {
        font-style: italic;
      }
    }
  }
}

.corporate-action-body {
  display: flex;
  margin-top: 10px;

  @media screen and (max-width: $mobile-breakpoint-max) {
    flex-direction: column;
  }

  &>div {
    flex: 1 1 50%;
    padding: 10px;
  }

  .basic-info {
    border-right: 1px solid #2f2f2f;

    @media screen and (max-width: $mobile-breakpoint-max) {
      border-right: none;
    }
  }
}

.email-content {
  padding: 0 10px;

  .email-viewer {
    height: calc(100vh - 350px);

    @media screen and (max-width: $mobile-breakpoint-max) {
      height: 50vh;
    }
  }
}

.search-bar {
  margin: 0 0;
  padding: 5px;
  display: flex;
  gap: 10px;
  align-items: center;
}

.search-bar input {
  width: 100%;
  padding: 10px;
  font-size: 14px;
  border: none;
  border-radius: 5px;
  background-color: $gray-1000;
  box-sizing: border-box;
}
